<body>
    <app-navbar></app-navbar>

    <div class="ahorcado-container">
        <div class="izquierda">

            <div class="ahorcado-image">
                <img [src]="imagenActual" alt="">
            </div>
        </div>
        <div class="derecha">
            <div class="mostrarPalabra">
                <p>{{palabraOcultada}}</p>
            </div>
            <div class="keyboard">
                <app-teclado-virtual (letraClickeada)="recibirLetra($event)"></app-teclado-virtual>
            </div>   
            </div>
            <div class="result">
                <p *ngIf="gano()">¡Ganaste!</p>
                <p *ngIf="perdio()">¡Perdiste! La palabra era: {{ this.palabraActual}}</p>
        </div>
    </div>

</body>

