<body>
    <app-navbar></app-navbar>

    <div class="ahorcado-container">
        <div class="izquierda">

            <div class="ahorcado-image">
                <img [src]="imagenActual" alt="">
            </div>
        </div>
        <div class="derecha">
            <div class="mostrarPalabra">
                <p>{{palabraOcultada}}</p>
            </div>
            <div class="keyboard">
                <app-teclado-virtual [terminoJuego]="terminoJuego" (letraClickeada)="recibirLetra($event)"></app-teclado-virtual>
                <div class="result" *ngIf="gano() || perdio()">
                    <div class="result-content"> 
                      <p *ngIf="gano()">¡Ganaste!</p>
                      <p *ngIf="perdio()">¡Perdiste! La palabra era: {{ palabraActual }}</p>
                    </div>
                    <div>
                        <button class="reiniciar" (click)="reiniciarJuego()">Volver a jugar</button> 
                    </div>
                </div>
            </div>   
        </div>
    </div>

</body>

