
<head>
    <link rel="stylesheet" type="text/css" href="login.component.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
</head>

<body>
  <!--img src="../../assets/images/trofeo.png" alt="logo" /--->
  <div class="login">
    <div class="login-header">
    <h1>SALA DE JUEGOS</h1>
    </div>
  <div class="login-form">
    <h3>Username:</h3>
    <input type="text" placeholder="Username" [(ngModel)]="userMail" required/><br>
    <h3>Password:</h3>
    <input type="password" placeholder="Password" [(ngModel)]="userPWD" required/>
    <br>
    <input type="button" value="Login" class="login-button" (click)="Login()"/>
    <br>
    <br>
    <input type="button" value="Acceso Directo"class="AccesoDirecto" (click)="AccesoDirecto()">
    <br>
    <a class="sign-up">Sign Up!</a>
    <br>
  </div>
</div>



</body>