<body>
    <app-navbar></app-navbar>

    <div class="container">
        <div class="column">
            <button class="propio-button" type="submit" (click)="ir('laberinto')" tabindex="0">Laberinto</button>
            <button class="ahorcado-button" type="submit" (click)="ir('ahorcado')" tabindex="0">Ahorcado</button>
        </div>
        <div class="column">
            <button class="mayormenor-button" type="submit" (click)="ir('mayormenor')" tabindex="0">Mayor o Menor</button>
            <button class="preguntados-button" type="submit" (click)="ir('preguntados')" tabindex="0">Preguntados</button>
        </div>
    </div>

</body>

