<body>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="titulo-container">
            <h1>Mayor o Menor?</h1>
            <h2>Adiviná si la próxima carta va a ser mayor o menor:</h2>
        </div>
        <div class="cartas-container">
            <!--img src={{imagen}} alt=""-->
            <div class="botones">
                <button class="botonMayorMenor" type="button" (click)="seleccionar('MAYOR')" (click)="jugar()" [disabled]="gano || perdio">Mayor</button>
                <button class="botonMayorMenor" type="button" (click)="seleccionar('MENOR')" (click)="jugar()" [disabled]="gano || perdio">Menor</button>
                
            </div>
            <div class="puntos">
                <h2>Puntos acumulados : {{puntosAcumulados}} | Intentos:{{intentos}}</h2>
            </div>
            <div class="cartas">
                <div class="carta">
                <!--img class="masoImg" src="../../../../assets/images/cartas/maso.png" alt=""-->
                    <img class="carta-img" [src]="cartaAnterior?.rutaImagen" alt="Carta Anterior">
                    <span class="carta-descripcion">Carta Anterior</span>
                </div>
                <div class="carta">
                    <img class="carta-img" [src]="cartaActual?.rutaImagen" alt="Carta Actual">
                    <span class="carta-descripcion">Nueva carta</span>
                </div>
            </div>
        </div>
        <div class="resultado" *ngIf="gano">
            <div class="mensajeResultado">
                <h1>GANASTE!
                    <button class="continuar-button" type="button" (click)="continuar()" >Volver a jugar!</button>
                </h1>
            
    
            </div>
        </div>
        <div class="resultado" *ngIf="perdio">
            <div class="mensajeResultado">
                <h1>UPS! VOLVE A INTENTAR!

                    <button class="continuar-button" type="button" (click)="continuar()" >Continuar</button>
                </h1>
            
    
            </div>
        </div>
    </div>
    <!--div class="mensaje" *ngIf="mensajeElegido && !gano && !perdio">
        <p>{{ mensajeElegido }}</p>
    </div-->

</body>