:host {
    width: 100%; 
  }

.teclado {
display:flex;
  flex-direction: row;
  justify-content:flex-end;
}

button {
  width: calc(33.33% - 10px); 
  max-width: 50px; 
  height: 40px;
  background-color: #003fc7d0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;}


button:hover {
    background-color: #45a049ce; 
}


button:active {
    background-color: #508e38; 
}


.keyboard button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.letras:disabled {
  background-color: #cccccca8;
  color: #666666af; 
  cursor: auto; 
}