<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quién Soy </title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <app-navbar></app-navbar>  
    <div class="container d-flex" id="carta">
      <div class="card">
        <h1 class="titulo">Quién soy</h1>
        <img src="../../assets/images/foto.jpg" id="foto" class="card-img-top" alt="Foto">
        <div class="card-body">
          <h1 class="card-title">Evelina Aguirre</h1>
          <p class="card-text">
            Estudiante TUP UTN, primer cuatrimestre 2024.
            División 4°B.
          </p>
        </div>
      </div>
      
      <div class="juego">
        <h1>Descripción del Juego:</h1>
        <div class="otra-card">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem delectus, nemo deserunt esse 
            commodi aperiam cum aliquid. Pariatur est, placeat saepe facere id, recusandae ex tempora ratione, 
            eaque aspernatur totam.
          </p>
        </div>
  </div>
  </div>

</body>

