<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quién Soy </title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <app-navbar></app-navbar>  
    <div class="container d-flex" id="carta">
      <div class="card">
        <h1 class="titulo">Quién soy</h1>
        <img src="../../assets/images/foto.jpg" id="foto" class="card-img-top" alt="Foto">
        <div class="card-body">
          <h1 class="card-title">Evelina Aguirre</h1>
          <p class="card-text">
            Estudiante TUP UTN, primer cuatrimestre 2024.
            División 4°B.
          </p>
        </div>
      </div>
      
      <div class="juego">
        <h1 class="descripcion">Descripción del Juego:</h1>
        <div class="otra-card">
          <p>
           Laberinto: Una vez que inicies el juego tenés 15 segundos para llegar a la salida.
           Para jugar haz click en iniciar, y luego en el laberinto, podes desplazarte con las flechas del teclado (↑,
           ↓,
           ←,
           →).
           Mucha suerte!
          </p>
        </div>
  </div>
  </div>

</body>

