
<body>
    <div class="container d-flex">
        <div class="juego">
            <h1>Descripción del Juego:</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem delectus, nemo deserunt esse commodi aperiam cum aliquid. Pariatur est, placeat saepe facere id, recusandae ex tempora ratione, eaque aspernatur totam.
            </p>
          </div>
          
          <div class="card">
            <h1 class="titulo">Quien soy</h1>
            <img src="../../../assets/quiensoy.jpg" id="foto"  />
            <div class="card-body">
              <h5 class="card-title">Evelina Aguirre</h5>
              <a href="#" class="btn">Botón</a>
            </div>
          </div>
    </div>
</body>

          
        