<body>
    <app-navbar></app-navbar>   
    <div class="container"> 

        <div class="laberinto" tabindex="0" (keydown)="moverJugador($event)">
            <div *ngFor="let fila of laberinto; let x = index" class="fila">
                <div *ngFor="let celda of fila; let y = index" class="celda" 
                     [ngClass]="{'pasillo': celda === 0, 'pared': celda === 1, 'salida': celda === 2, 
                     'jugador': x === jugadorX && y === jugadorY}">
                </div>
            </div>
        </div>
    </div>
</body>

