<body>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="preguntaActual">
            <div class="contador"><p>Pregunta numero: {{contadorIntentos}} | Puntos acumulados: {{contadorGano}}</p></div>
            <h2>{{ preguntaAMostrar }}</h2>
        </div>
        <div class="pregunta-imagen-respuesta">
            <div class="imagen">
                <div class="imagen-container">
                    <img [src]="img" alt="">
                </div>
            </div>
            <div class="opciones-container">
                <div class="opciones" *ngFor="let opcion of opciones">
                    <input type="radio" [id]="opcion" [name]="'opcion'" [value]="opcion" [(ngModel)]="respuestaSeleccionada">
                    <label [for]="opcion">{{ opcion }}</label>
                </div>
                <button (click)="verificarRespuesta()">Contestar</button>
            </div>
        </div>
        <div class="mensajeResultado">
            <span>{{mensaje}}</span>
        </div>
    </div>
</body>



