body {
  /*background-image:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');*/
  /*background-image: url("../../assets/images/ajedrez.jpg");*/
  background-image: url("../../assets/images/f4.jpg");
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}

.logout-button
  {
  background-color: #061855;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 5px;
  cursor: pointer;
  border-radius: 10px;
  order: 2;
}

.quiensoy-button {
  /*margin-left: auto; */
  border: .5px solid #fff;
  background: #844fff75;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  color: white;
  padding: 100px 60px;
  margin: 100px 0 0 100px;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.quiensoy-button:hover {
  box-shadow: 0px 0px 20px #000; 
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #4a126e73;
}

.welcome-text {
  margin-top: 10px;
  margin-left: 10px;
  order: 1;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
