body {
  /*background-image:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');*/
  /*background-image: url("../../assets/images/ajedrez.jpg");*/
  background-image: url("../../assets/images/f4.jpg");
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}


.quiensoy-button {
  /*margin-left: auto; */
  border: .5px solid #fff;
  background: #844fff75;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  color: white;
  padding: 100px 60px;
  margin: 100px 0 0 100px;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.quiensoy-button:hover {
  box-shadow: 0px 0px 20px #000; 
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
